<table class="table-striped">
  <caption></caption>
  <thead>
  <tr>
    <ng-container *ngFor="let column of data?.columns">
      <th scope="col" *ngIf="!column.sortable" >
        {{column.name | translate}}
      </th>
      <th scope="col" *ngIf="column.sortable"  [attr.sortable]="column.index"
          sortable="{{column.index}}" (sort)="sortColumnHandler($event)">
        {{column.name | translate}}
      </th>
    </ng-container>
    <th scope="col">{{'column.action' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="data !== null && data.rows !== null">
    <tr *ngFor="let dataRow of data.rows; let i = index">

      <td *ngFor="let field of dataRow['row']; let idx = index" [attr.data-label]="dadaLabel(data?.columns[idx].name | translate | uppercase)">
        <span *ngIf="field.isDate">
          {{field.value |  date: 'dd/MM/yyyy HH:mm'}}
        </span>
          <span *ngIf="!field.isDate && field.value !== true && field.value !== false">
          {{field.value}}
        </span>
          <span *ngIf="field.value === true">
          <i class="fa fa-check green"></i>
        </span>
          <span *ngIf="field.value === false">
          <i class="fa fa-times red"></i>
        </span>
      </td>
      <td>
        <div class="d-grid gap-2 col-8 mx-auto">
          <ng-container *ngFor="let action of actions">
            <button class="btn btn-primary btn-sm"
                      (click)="action.apply(dataRow.id)">{{ action.label | translate}}</button>
           </ng-container>
        </div>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>

<div class="d-flex justify-content-between align-items-center p-2">

    <ngb-pagination [collectionSize]="tableService.total$ | async"
                    [(page)]="tableService.page"
                    [pageSize]="tableService.pageSize"
                    (pageChange)="pageChangeHandler($event)"
                    [boundaryLinks]="true"></ngb-pagination>
    <div class="d-flex align-items-center">
      <label class="me-2" for="page-size">{{ 'pagination.element' | translate }}</label>
      <select class="form-select w-auto" id="page-size" name="pageSize" [(ngModel)]="tableService.pageSize"  (change)="pageSizeChangeHandler($event.target.value)">
       <option [ngValue]="10">{{ 'pagination.10' | translate }}</option>
       <option [ngValue]="20">{{ 'pagination.20' | translate }}</option>
       <option [ngValue]="50">{{ 'pagination.50' | translate }}</option>
       <option [ngValue]="100">{{ 'pagination.100' | translate }}</option>
      </select>
    </div>

</div>
