.modal {
  .modal-dialog {
    position: fixed;
    left: 25%;
    top: 25%;
    margin: 0 auto;

    width: 50vw;
    height: 50vh;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;
  }
}
